.nav-bar
    .container
        img.logo-img(src="./blocks/nav-bar/Logo.svg", alt="Logo")
        .nav
            ul.nav__ul
                li.nav__li
                    a.nav__a(href="#") О нас
                    a.nav__a(href="#") Услуги 
                        i.fa.fa-angle-down
                    a.nav__a(href="#") Вакансии
                    a.nav__a(href="#") Новости
                    a.nav__a(href="#") Соглашения
                        i.fa.fa-angle-down
            .nav__button-wrap
                button.nav__button ВОЙТИ
            button.nav__button-second ЗАРЕГИСТРИРОВАТЬСЯ