.nav-bar
    .container
        img.logo-img(src="./blocks/nav-bar/Logo.svg", alt="Logo")
        ul.nav
            li.nav-li
                a.nav-a(href="#") О нас
                a.nav-a(href="#") О нас
                a.nav-a(href="#") О нас