<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI-KIT
        link(rel="stylesheet", href="./font-awesome/css/font-awesome.css")
    body
        include blocks/nav-bar/nav-bar.pug
        include blocks/content/content.pug
        //- include elements/text-field/text-field.pug
        //- include elements/dropdown/dropdown.pug

        script(src='./main.js')