<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Index Page
        link(rel='stylesheet' href='main.scss')
    body
        include blocks/project-menu/project-menu
        include blocks/nav-bar/nav-bar
        include blocks/content/content
        
        script(src='main.js')