@import './elements/logo/logo.scss';

@import './elements/text-field/text-field.scss';
@import './elements/dropdown/dropdown.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}
