@import '../src/blocks/text-field/text-field.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('../src/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}