@import './blocks/project-menu/project-menu';
@import './blocks/nav-bar/nav-bar';
@import './blocks/content/content';
@import 'normalize.css';

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Bold.ttf');
    font-weight: bold;
    font-style: normal; 
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

h1 {
    color: tomato;
}