@import './blocks/nav-bar/nav-bar.scss';
@import './blocks/content/content.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal; 
}
